.md-header {
    height:8.8rem;
}
.md-flex{
    margin-top: 2rem;
}
.md-header-nav .md-logo img{
    margin-top: -3rem;
    height:8.8rem;
    width:auto;
}
.md-container{
    margin-top: 2rem;
}
.md-sidebar{
    margin-top:6rem;
}
.md-nav__title.md-nav__title--site {
    padding-top: 2rem;
}
.md-sidebar--primary[data-md-component='navigation'] {
    margin-top: 0px;
}
.md-nav__button.md-logo img {
    height: 4.5rem;
}